extends layout

block content
  head
    h1= title
    p Welcome to Quizzes
  body
    ol
      each quiz in quizzes
        li.active
          a(href= '/api/quizzes/'+  quiz.id)  #{quiz.name}
          p #{quiz.difficulty}
