extends layout


block content
  doctype html
  html
  head
  title Quiz Project
  body
  h1 Quiz Project
  main
      input.difficulty(type="string")
      button.btn.settings Settings
      .settings_info Please choose difficulty e-Easy, h-Hard
      button.btn.again_start Again!/Start
      .question Questions will be shown here
      .questionAnswers Answers will be shown here
      .number ?
      input.answer(type="string")
      button.btn.check Check!
      button.btn.next Next!
      p.message Answer is...
      p.label-score
        | 💯 Score:
        span.score 0
  .newQuestion
    button.btn.newQuestion new Question Add
  .addQuestion
      label   Question Text
      input.inp.text(type="string")
      label   Question Answers A
      input.inp.answerA(type="string")
      label   Question Answers B
      input.inp.answerB(type="string")
      label   Question Answers C
      input.inp.answerC(type="string")
      label   Question Difficulty
      input.inp.difficulty(type="string")
      label   Question Correct Answer
      input.inp.correctAnswer(type="string")

  script(src="/js/main.js" type="module")
