body {
  padding: 50px;
  font: 14px ;
  font-family: Arial;
  color: rgb(16, 157, 200);
  background-color: rgba(197, 205, 206, 0.664);
 }

h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 1rem;
  box-sizing: border-box;
}
.question {
  color: rgb(33, 84, 167);
  font-size: 14px;
  width: 15rem;
  padding: 2rem 0rem;
  top: 12rem;
  right: 30rem;
  text-align: center;
  position: absolute;
  display: inline
  }
.questionAnswers{
  color: rgb(33, 84, 167);
  font-size: 14px;
  width: 15rem;
  padding: 1rem 0rem;
  top: 24rem;
  right: 30rem;
  text-align: center;
  position: absolute;
  display: inline
}
.number {
  color: rgb(167, 33, 33);
  font-size: 6rem;
  width: 15rem;
  padding: 1rem ;
  text-align: center;
  position: absolute;
  display: inline;
  top: 17rem;
  right: 30rem;
}
.settings
{ position: absolute;
  top: 10rem;
  right: 10rem;
  background-color: rgb(122, 120, 90);
  padding: 1rem;
}

.settings_info
{ position: absolute;
  top: 18rem;
  right: 10rem;
}
.again_start {
  position: absolute;
  top: 10rem;
  left: 25rem;
  background-color: rgb(122, 120, 90);
}
.btn {
  color: #222;
  font-size: 14px;
  font-family: inherit;

  cursor: pointer;
}
.message {
  position:absolute;
  height: 3rem;
  top: 17rem;
  left: 10rem;
}

.difficulty{
 position: absolute;
  top: 15rem;
  right: 10rem;

}
.answer{
  position: absolute;
  top: 30rem;
  left: 25rem;
}
.check{
 position: absolute;
  top: 32rem;
  left: 25rem;
  background-color: rgb(122, 120, 90);
  padding: 1rem;
}
.next{
 position: absolute;
 top: 32rem;
 left: 30rem;
 background-color: rgb(122, 120, 90);
 padding: 1rem
}
.label-score{
  color: rgb(0, 0, 0);
  position: absolute;
  top: 30rem;
  right: 10rem;
}
.newQuestion{
  position: absolute;
  top: 20rem;
}
.addQuestion{
  display: block;
  position: absolute;
  top: 50rem;
}