extends layout

block content
  head
    h1= title
    p Welcome to Questions
  body
    h1= text
    ul
      each val in question
        li #{val}

//- New Question part
  .newQuestion
    button.btn.newQuestion new Question Add
  .addQuestion
      label Question Text
      input.text(type="string")
      label Question Answers A
      input.answerA(type="string")
      label Question Answers B
      input.answerB(type="string")
      label Question Answers C
      input.answerC(type="string")
      label Question Difficulty
      input.diff(type="string")
      label Question Correct Answer
      input.correctAnswer(type="string")

  script(type="module" src="/js/main.js" )
