extends layout

block content
  head
    h1= title
    p Welcome to Questions
  body
    h2 Question: #{question.text}
    h2 Choices:
     il
        each choice in question.choices
          li #{choice}
           input(type='radio')
