extends layout

block content
  head
    h1= title
    p Welcome to Quizzes
  body
    h2 Quiz Name: #{name}
    h2 Quiz Difficulty: #{difficulty}
    h2 Quiz Questions:
     il
       each question in questions
          li #{question}
