extends layout

block content
  head
    h1= title
    p Welcome to Quizzes
  body
    h2 Quiz Name: #{name}
      h3 Questions: #{questions}
        //- ol
          each val in questions
          li= val