extends layout

block content
  head
    h1= title
    p Welcome to Quizzes
  body
    ol
      each quiz in quizzes
        li.active
          a(href= '/quiz?name='+  quiz.name)  #{quiz.name}
          p #{quiz.difficulty}
